<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordHelp</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <h2>Password help</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Breached accounts</h4>
        </div>
        <div class="col-sm-12">
            <p>A breached account is an account that has its username/password combination compromised during a data breach. This can happen to any company on any scale, from small to huge leaks of millions of account details. <b>These data breaches are not based on this website.</b> Once a password is leaked it can be, and most likely will be, used for hacking purposes which can compromise your account.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Recommendations</h4>
        </div>
        <div class="col-sm-12">
            <p>
                We would like to recommend using a <a href="https://en.wikipedia.org/wiki/Password_manager">Password manager</a> to (automatically) create unique passwords for different websites. Most password managers even sync the passwords across devices, so you can login to your favourite websites/apps across different platforms with ease. Below you will find a list of popular password manager, some of them are free or have a free trial available.
            </p>
            <p>
                Recommended password managers:
                <ol>
                    <li><a href="https://lastpass.com/">LastPass.com</a></li>
                    <li><a href="https://1password.com/">1Password.com</a></li>
                    <li><a href="https://keepass.info/">Keepass.info</a></li>
                    <li><a href="https://www.dashlane.com/">Dashlane.com</a></li>
                </ol>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-small">
                All data and information about data breaches were gained from <a href="https://haveibeenpwned.com/">Troy Hunt's Have I Been Pwned website</a> and corresponding <a href="https://haveibeenpwned.com/API/v2">API</a>.
            </p>
        </div>
    </div>
</body>
</html>
